* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

:root {
    --primary-color: #10375c;
}

/* ==== Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    border-radius: 99px;
    min-width: 205px;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #2e80ce;
}

.btn:hover {
    cursor: pointer;
}

.heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: -0.02em;
    color: #10375c;
}

.desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */
    color: #575f66;
}
/* ========================== Header ========================= */

/* ====== Logo ====== */
.header {
    min-height: 100vh;
    background: var(--primary-color);
    padding-top: 30px;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
}

.logo__text {
    color: #ffffff;
    text-align: right;
    margin-left: 6px;
    line-height: 1.6rem;
}
.logo .logo__text--top {
    display: block;
    font-weight: 400;
    font-size: 1.8rem;
}

.logo .logo__text--bot {
    font-weight: 300;
    font-size: 1.2rem;
}

/* ====== Navbar ====== */
.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    display: flex;
    font-weight: 300;
    padding: 8px 21px;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #c9d2da;
}

.navbar li.navbar__tab--active .navbar__link {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #ffffff;
}
.navbar li.navbar__tab--active .navbar__link::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: 8px;
    bottom: 19px;
    border-radius: 50%;
    background: #ffffff;
}

/* .navbar__link {
    text-shadow: 1px 0 0 currentColor;
} */
/* ====== Actions ====== */
.action {
    margin-left: auto;
}

.action__login {
    font-weight: 300;
    font-size: 1.6rem;
    margin-right: 28px;
    color: #c9d2da;
}

.action__signup {
    height: 44px;
    line-height: 43px;
    min-width: 104px;
}

/* ====== Hero ====== */

.hero {
    padding: 76px 0 110px;
}

.hero__body {
    display: flex;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin: 22px 0 38px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__book {
    display: flex;
    align-items: center;
}

.hero__book--number {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
}

.hero__media {
    padding-left: 113px;
    display: flex;
    width: 56%;
}

.hero__media img:first-child {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__media img:nth-child(2) {
    margin: 65px 0;
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
}

/* ====== Service ====== */

.service {
    margin: 170px 0;
}

.service--heading {
    text-align: center;
}

.service--desc {
    width: 468px;
    margin: 18px auto auto;
    text-align: center;
}

.service__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service-item {
    display: flex;
    width: 470px;
    border-radius: 10px;
    background: #fff;
    padding: 22px;
}

.service-item:hover {
    cursor: pointer;
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    /* position: relative; */
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #10375c;
    background: #eff6fd;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(40, 155, 222, 0.15);
}

.service-item:hover .service-item__icon {
    background: #2e80ce;
    color: #ffffff;
}

.service-item__content {
    margin-left: 19px;
}

.service-item__content--heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.service-item__content--desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.service--btn {
    margin-top: 55px;
}

/* ====== How it works ====== */
.hiw {
    background: #f7fbff;
}

.hiw__body {
    padding: 100px 0;
}

.hiw--desc {
    margin-top: 18px;
    width: 468px;
}

.hiw__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 70px;
}

.hiw__list--item {
    border: 16px solid #eaf6ff;
    background: #ffffff;
    border-radius: 4px;
    padding: 44px;
    transition: 0.25s;
}

.hiw__list--item:hover {
    transform: translateY(-16px);
    border: 16px solid #2e80ce;
}

.hiw__list--item:hover .hiw__list--link {
    color: #2e80ce;
}

.hiw__list--img {
    width: 72px;
    height: 72px;
}

.hiw__list--heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    /* identical to box height, or 138% */
    color: #10375c;
}

.hiw__list--desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */
    color: #575f66;
}

.hiw__list--link {
    display: inline-block;
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */
    color: #575f66;
}
